# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/
ComOD-dataset/
syn-dataset/
ComOD-dataset.tar.gz

# Logs
errs/
outs/
logs/

# Models, Figures and Results
models/
figs/
results/
*.tar.zip

# Temporary files
._ComOD-dataset
.DS_Store
.ipynb_checkpoints/
.python-version
._ComOD-dataset
.python-version
Untitled.ipynb
temps/