# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
ComOD-dataset/
data/
ComOD-dataset.tar.gz

# Logs
errs/
outs/
logs/
target_sets/
results/
results.tar.gz
outputs/

# Temporary files
._ComOD-dataset
.DS_Store
.ipynb_checkpoints/
.python-version
._ComOD-dataset
.python-version
rename.sh
selective_results_*.csv
Untitled.ipynb
temps/